body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;

}

a, button {
    cursor: pointer;
}

.wrapper {
    background-color: white;
}

/* Banner section  start*/
.banner {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    position: relative;

}

.opacity {
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}


.logo img {
    width: 80%;
    margin-left: 30px;
}

.banner menu {
    margin-right: 150px;
}

.banner ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.banner ul li {
    margin: 10px;
    font-family: inherit;
    font-size: smaller;
    text-transform: uppercase;

}

.banner ul li a {
    text-decoration: none;
    color: white;
}

nav .icons {
    display: flex;
    align-items: center;
    color: white;
    margin-right: 40px;
    font-size: larger;
}

.banner a:hover,
nav .icons:hover {
    color: #F7A70E;
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.shopify {
    display: flex;
    color: white;
    position: absolute;
    align-items: center;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shopify h3 {
    margin-left: 10px;
    font-style: italic;
    font-size: 40px;
}

.banner .image img {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.banner .text-container {
    overflow: hidden;
}

.banner .text1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 30%;
}

.banner .text1 h1 {
    margin: 0;
    color: white;
    font-size: 180px;
}

.banner .text1 .l {
    transform: translate(15%, -50%);
}

.banner .text1 .a {
    position: absolute;
    left: 40%;
    transform: translate(10%, -20%);
    z-index: 2;
}

.banner .text1 .s {
    transform: translate(140%, -55%)
}

.banner .text1 .t {
    transform: translate(225%, -20%)
}

.banner .text2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 30%;
}

.banner .text2 h1 {
    margin: 0;
    color: white;
    font-size: 180px;
}

.banner .text2 .f {
    transform: translate(20%, -20%);
}

.banner .text2 .i {
    position: absolute;
    left: 40%;
    transform: translate(20%, -60%);
}

.banner .text2 .r {
    transform: translate(70%, 10%);
    z-index: 2;
}

.banner .text2 .s {
    position: absolute;
    transform: translate(160%, -60%);
}

.banner .text2 .t {
    transform: translate(220%, -20%);
}


.btn button {
    background: none;
    margin-top: 250px;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn button:hover {
    color: #F7A70E;
}

.prev {
    writing-mode: vertical-lr;
    text-orientation: upright !important;
    float: left;
    margin-left: 40px;
}

.next {
    writing-mode: vertical-lr;
    text-orientation: upright !important;
    float: right;
    margin-right: 40px;
}

.scroll {
    text-align: center;
}

.scroll .fa-solid {
    margin-top: 10px !important;
}

.scroll button {
    text-transform: uppercase;
    background: none;
    margin-top: 130px;
    border: none;
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

.scroll a {
    text-decoration: none;
    color: white;
}


.banner .card {
    width: 250px;
    padding: 20px;
    float: inline-end;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12);
    margin-top: -50px;
    transition: transform 0.3 ease;
}

.banner .card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    margin-right: 3px;
}

.banner .card p {
    color: rgb(165, 165, 165);
}

.banner .card strong {
    color: black;
}

.banner .card .stars {
    color: #f7ae0b;
    font-size: 24px;
    margin-left: 50px;
}

.banner .card .star {
    margin: 0 3px;
}

.banner .card .mid,
.banner .card .bottom {
    margin-top: 20px;
    margin-left: 60px;
}

/* Banner section  end*/

/* logo section  start*/
.logo-section {
    display: flex;
}

.logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo-container img {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.logo-container img:hover {
    filter: grayscale(0%);
    transform: scale(1.02);
}


/* logo section  end*/

/* about section  start*/
.about {
    padding: 20px;
    margin-left: 50px;
    margin-top: 150px;
    display: flex;
}

.about .card2 {
    position: absolute;
    margin-top: -600px;
    margin-left: 80px;
}

.about .card2 .top {
    position: relative;
}

.about .card2 .bottom {
    position: relative;
    z-index: 1;
    background-color: white;
    border-radius: 5px;
    padding-left: 15px;
    display: flex;
    margin-top: -50px;
}

.about .card2 .icon {
    color: white;
    background-color: #f7ae0b;
    margin-left: 20px;
    padding: 10px;
    margin-top: 15px;
    height: 15px;
}

.about .card1 {
    position: relative;
    background-image: url(../images/dot.png);
    background-repeat: no-repeat;
    height: 500px;
}

.about .card1 img {
    margin-left: 50px;
    border-radius: 5px;
    width: 500px;
    margin-top: 50px;
}

.about .card1 .bottom {
    color: white;
    position: absolute;
    text-align: center;
    margin-top: -200px;
    margin-left: 200px;
}

.about .card1 a {
    color: white;
    text-decoration: none;
    font-weight: 300;
}

.about .card1 .Buy {
    background-color: #0AB3E4;
    border-radius: 20px;
    padding: 10px;
}

.about .card1 .top {
    color: white;
    background-color: #F7AA00;
    border-radius: 5px;
    padding: 20px;
    height: 15px;
    width: 20px;
    position: absolute;
    margin-left: 500px;
    margin-top: 20px;
}

.about .card3 .icon {
    color: white;
    background-color: #f7ae0b;
    margin-left: 20px;
    padding: 10px;
    margin-top: 15px;
    height: 15px;
}

.about .card3 img {
    border-radius: 50%;
    margin-top: 30px;
}

.about .card3 .mid {
    display: flex;
    margin-left: 20px;
}

.about .card3 {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.3);
    margin-top: -50px;
    padding: 10px;
    display: flex;
    background-color: white;
    margin-left: 80px;
}

.about .card4 {
    position: relative;
    margin-top: -400px;
    margin-left: 200px;

}

.about .card4 .bottom {
    border-bottom-left-radius: 15px;
    height: 140px;
    width: 150px;
    padding: 5px;
    background-color: #ebeaea;
    position: absolute;
    margin-top: -202px;
    margin-left: 295px;
    border-bottom-right-radius: 15px;
}

.about .card4 a {
    color: white;
    text-decoration: none;
    font-weight: 300;
}

.about .card4 .Buy {
    background-color: #0AB3E4;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

.about .card4 .top img {
    margin-left: 150px;
    margin-top: 90px;
    border-radius: 5px;
}

.about .card4 .mid img {
    height: 182px;
    margin-top: -356px;
    margin-left: 295px;
    position: absolute;
    border-radius: 15px;
}

.about .join .text {
    margin-top: 200px;
    font-size: 30px;
    color: #1F3155;
    line-height: 40px;
}

.about .join .bottom {
    box-shadow: rgba(0, 0, 0, .12);
    color: #0AB3E4;
    font-size: 18px;
    font-weight: 300;
}

.about .card1:hover,
.about .card2:hover,
.about .card4:hover {
    transform: scale(1.02);

}

.about .card3:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.about .join .bottom:hover {
    transform: scale(1.02);
    color: white;
    background-color: #0AB3E4;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12);
    padding: 15px;
    border-radius: 5px;

}


/* About section  end*/

/* Items section  start*/
.items {
    margin-top: -100px;
}

.items .text {
    padding-top: 180px;
    padding-left: 180px;
}

.items .browsing h5 {
    color: #F7A70E;
    text-transform: uppercase;
}

.items .browsing p {
    font-size: 40px;
    font-weight: 300;
}

.items .text {
    display: flex;
}

.items .text .bottom {
    margin-top: 130px;
    margin-left: 500px;
}

.items .bottom a {
    box-shadow: rgba(0, 0, 0, .12);
    border-radius: 5px;
    background-color: #0AB3E4;
    color: white;
    font-size: 18px;
    font-weight: 300;
    padding: 15px;
    text-decoration: none;
}

.items .bottom a:hover {
    transform: scale(1.02);
    color: #0AB3E4;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.items ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-left: 140px;
}

.items ul li {
    margin: 10px;
    margin-left: 50px;
    font-family: inherit;
    text-transform: uppercase;

}

.items ul li a {
    text-decoration: none;
    color: #8C95A5;
}

.items ul li a:hover {
    color: #F7A70E;
}

.items ul li .active {
    color: #0AB3E4;
}

.items .menu span {
    width: 75%;
    height: 1.5px;
    background-color: #8C95A5;
    display: block;
    margin-left: 180px;
}

.items .menu span em {
    width: 150px;
    height: 2px;
    background-color: #0AB3E4;
    display: block;
    margin-left: 730px;
}

.items .items-cardtop {
    padding-left: 180px;
    display: flex;

}

.items .card1 {
    margin-top: 40px;

}

.items .card1 .bottom {
    padding: 20px;
    background-color: white;
    width: 310px;
    margin-top: -10px;
}

.items .card1 .text1 p {
    text-transform: uppercase;
    color: #8C95A5;

}

.items .card1 .text1 span {
    margin-left: 50px;
}

.items .card1 .text2 {
    color: #8C95A5;
    margin-top: -10px;
}

.items .card1 .bottom strong {
    margin-top: 10px;
}

.items .card1 .icon {
    display: flex;
}

.items .card1 .icon .stars {
    color: #f7ae0b;
    font-size: 20px;
    margin-left: 90px;
}

.items .items-cardtop .card2 {
    margin-top: 40px;
    margin-left: 30px;

}

.items .card2 .bottom {
    padding: 20px;
    background-color: white;
    width: 310px;
    margin-top: -10px;
}

.items .card2 .bottom .text1 p {
    text-transform: uppercase;
    color: #8C95A5;

}

.items .items-cardtop .card2 .bottom .text1 span {
    margin-left: 50px;
}

.items .items-cardtop .card2 .bottom .text2 {
    color: #8C95A5;
    margin-top: -10px;
}

.items .items-cardtop .card2 .bottom strong {
    margin-top: 10px;
}

.items .items-cardtop .card2 .icon {
    display: flex;
}

.items .items-cardtop .card2 .bottom .icon .stars {
    color: #f7ae0b;
    font-size: 20px;
    margin-left: 90px;
}

.items .items-cardtop .midcard {
    margin-top: 80px;
}

.items .items-cardtop .card3 {
    margin-top: 40px;
    margin-left: 30px;

}

.items .items-cardtop .card3 .bottom {
    padding: 20px;

    background-color: white;
    width: 310px;
    margin-top: -10px;
}

.items .items-cardtop .card3 .bottom .text1 p {
    text-transform: uppercase;
    color: #8C95A5;

}

.items .items-cardtop .card3 .bottom .text1 span {
    margin-left: 50px;
}

.items .items-cardtop .card3 .bottom .text2 {
    color: #8C95A5;
    margin-top: -10px;
}

.items .items-cardtop .card3 .bottom strong {
    margin-top: 10px;
}

.items .items-cardtop .card3 .icon {
    display: flex;
}

.items .items-cardtop .card3 .bottom .icon .stars {
    color: #f7ae0b;
    font-size: 20px;
    margin-left: 90px;
}

.items .items-cardtop .card4 {

    margin-top: 30px;

}

.items .items-cardtop .card4 .bottom {
    padding: 20px;

    background-color: white;
    width: 310px;
    margin-top: -10px;
}

.items .items-cardtop .card4 .bottom .text1 p {
    text-transform: uppercase;
    color: #8C95A5;

}

.items .items-cardtop .card4 .bottom .text1 span {
    margin-left: 50px;
}

.items .items-cardtop .card4 .bottom .text2 {
    color: #8C95A5;
    margin-top: -10px;
}

.items .items-cardtop .card4 .bottom strong {
    margin-top: 10px;
}

.items .items-cardtop .card4 .icon {
    display: flex;
}

.items .items-cardtop .card4 .bottom .icon .stars {
    color: #f7ae0b;
    font-size: 20px;
    margin-left: 90px;
}

.items .items-cardtop .card5 {
    margin-left: 30px;
    margin-top: 30px;

}

.items .items-cardtop .card5 .bottom {
    padding: 20px;

    background-color: white;
    width: 310px;
    margin-top: -10px;
}

.items .items-cardtop .card5 .bottom .text1 p {
    text-transform: uppercase;
    color: #8C95A5;

}

.items .items-cardtop .card5 .bottom .text1 span {
    margin-left: 50px;
}

.items .items-cardtop .card5 .bottom .text2 {
    color: #8C95A5;
    margin-top: -10px;
}

.items .items-cardtop .card5 .bottom strong {
    margin-top: 10px;
}

.items .items-cardtop .card5 .icon {
    display: flex;
}

.items .items-cardtop .card5 .bottom .icon .stars {
    color: #f7ae0b;
    font-size: 20px;
    margin-left: 90px;
}

.items .items-cardtop .card6 {
    margin-left: 30px;
    margin-top: 30px;

}

.items .items-cardtop .card6 .bottom {
    padding: 20px;
    background-color: white;
    width: 310px;
    margin-top: -10px;
}

.items .items-cardtop .card6 .bottom .text1 p {
    text-transform: uppercase;
    color: #8C95A5;

}

.items .items-cardtop .card6 .bottom .text1 span {
    margin-left: 50px;
}

.items .items-cardtop .card6 .bottom .text2 {
    color: #8C95A5;
    margin-top: -10px;
}

.items .items-cardtop .card6 .bottom strong {
    margin-top: 10px;
}

.items .items-cardtop .card6 .icon {
    display: flex;
}

.items .items-cardtop .card6 .bottom .icon .stars {
    color: #f7ae0b;
    font-size: 20px;
    margin-left: 90px;
}

.items .items-cardtop .lastcard .last {
    font-size: 40px;
    font-weight: 600;
    margin-left: 30px;
}

.items .items-cardtop .top1 {
    padding: 30px;
    position: absolute;
}

.items .items-cardtop .top1 img {
    border-radius: 50%;
}

.items .card1:hover,
.items .card2:hover,
.items .card3:hover,
.items .card4:hover,
.items .card5:hover,
.items .card6:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}



/* Items section  end*/

/* Team section  start*/
.team {
    display: flex;
    padding: 50px 50px 0;


}

.team .team-text {
    margin-top: 40px;
    margin-left: 60px;
}

.team .team-text h5 {
    color: #F7A70E;
    text-transform: uppercase;
}

.team .team-text .head {
    margin: 0;
    font-size: 40px;
    font-weight: 300;
    color: #2d3a63;
}

.team .team-text .mid {
    color: #A0A0B3;
}

.team .team-text span {
    color: #616F85;
}

.team .image {
    padding: 50px 100px 0;
}

.team ul {
    color: #012C55;
    list-style: none;
    padding: 0;
}

.team .bottom {
    margin-top: 60px;
    width: 400px;

}

.team .bottom a {
    border-radius: 5px;
    background-color: #ffffff;
    color: #0AB3E4;
    font-size: 18px;
    font-weight: 300;
    padding: 15px;
    text-decoration: none;

}

.team img:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.team .bottom a:hover {
    transform: scale(1.02);
    color: white;
    background-color: #0AB3E4;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.stroke {
    background-image: linear-gradient(to bottom, #FAFCFE, #EAF3FF, #F0F7FF, #FFFFFF);
}

.stroke::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.1) 5%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0.8) 90%);
}

.team::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.1) 90%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0.8) 90%);
}


/* Team section  end*/

/* Benefits section  start*/
.benefits {
    background-color: #2F5792;
    margin-top: -60px;
    height: 100vh;
}

.benefits .head {
    padding-top: 120px;
    text-align: center;
}

.benefits .head h5 {
    color: #F7A70E;
    text-transform: uppercase;
}

.benefits .head p {
    margin: 0;
    font-size: 40px;
    font-weight: 300;
    color: white;
}

.benefits .benefits-card {
    padding: 80px 150px 0;
    display: flex;
}

.benefits .benefits-card .first {
    display: flex;

}

.benefits .benefits-card .first .one {
    color: #3F6BA9;
    font-size: 100px;
    position: absolute;
    margin-top: -180px;
    margin-left: 150px;
}

.benefits .benefits-card p {
    color: #6880A7;
}

.benefits .benefits-card .icon {
    color: white;
    font-size: 18px;

}

.benefits .benefits-card .second {
    display: flex;

}

.benefits .benefits-card .box2 {
    margin-left: 200px;
}

.benefits .benefits-card .box3 {
    margin-left: 200px;
}

.benefits .benefits-card .second .two {
    color: #3F6BA9;
    font-size: 100px;
    position: absolute;
    margin-top: -180px;
    margin-left: 150px;
}

.benefits .benefits-card .three {
    display: flex;

}

.benefits .benefits-card .third .three {
    color: #3F6BA9;
    font-size: 100px;
    position: absolute;
    margin-top: -300px;
    margin-left: 150px;
}

.benefits .bottom {
    margin-top: 60px;
    text-align: center;

}

.benefits .bottom a {
    border-radius: 5px;
    background-color: #4D6D9B;
    color: white;
    font-size: 18px;
    font-weight: 300;
    padding: 15px;
    text-decoration: none;

}

.benefits .box1:hover,
.benefits .box2:hover,
.benefits .box3:hover {
    transform: scale(1.02);
    padding: 20px;
}

.benefits .bottom a:hover {
    transform: scale(1.02);
    color: #4D6D9B;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}



/* Benefits section  end*/

/* Review section  start*/
.review {
    height: 120vh;
    display: flex;
    background-image: linear-gradient(to bottom, #F6FCFF, #EEF6FF, #F0F7FF, #FFFFFF);
}

.review::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.1) 5%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0.8) 90%);
}

.review .division1 h5 {
    color: #F7A70E;
    text-transform: uppercase;
}

.review .review-text p {
    font-size: 35px;
    color: #314766;
    text-align: justify;

}

.review .review-text strong {
    color: #263657;
}

.review .division1 .review-card {
    width: 300px;
    padding: 20px;
    margin-top: 100px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12);
}

.review .division1 .review-card .mid {
    color: #222344;
    margin-left: 35px;
}

.review .division1 .review-card .mid p {
    font-style: italic;
    font-size: 18px;
    line-height: 25px;
}

.review .division1 .review-card .bottom p {
    color: #A4ABB4;
    margin-left: 10px;
}

.review .division1 .review-card .bottom strong {
    color: #424B6E;
}

.review .division1 .review-card .stars {
    color: #f7ae0b;
    margin-left: 35px;
}

.review .division1 .review-card .star {
    margin: 0 3px;
}

.review .review-card .bottom {
    display: flex;
    margin-left: 35px;
}

.review .review-card .bottom img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-top: 10px;
}

.review .division1 {
    padding-top: 100px;
    padding-left: 180px;
}

.review .division2 {
    margin-left: 100px;
}

.review .division2 .review-card1 {
    width: 300px;
    padding: 20px;
    margin-top: 160px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12);
}

.review .division2 .review-card1 .mid {
    color: #222344;
    margin-left: 35px;
}

.review .division2 .review-card1 .mid p {
    font-style: italic;
    font-size: 18px;
    line-height: 25px;
}

.review .division2 .review-card1 .bottom p {
    color: #A4ABB4;
    margin-left: 10px;
}

.review .division2 .review-card1 .bottom strong {
    color: #424B6E;
}

.review .division2 .review-card1 .stars {
    color: #f7ae0b;
    margin-left: 35px;
}

.review .division2 .review-card1 .star {
    margin: 0 3px;
}

.review .review-card1 .bottom {
    display: flex;
    margin-left: 35px;
}

.review .review-card1 .bottom img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-top: 10px;
}

.review .division2 .review-card2 {
    width: 300px;
    padding: 20px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12);
}

.review .division2 .review-card2 .mid {
    color: #222344;
    margin-left: 35px;
}

.review .division2 .review-card2 .mid p {
    font-style: italic;
    font-size: 18px;
    line-height: 25px;
}

.review .division2 .review-card2 .bottom p {
    color: #A4ABB4;
    margin-left: 10px;
}

.review .division2 .review-card2 .bottom strong {
    color: #424B6E;
}

.review .division2 .review-card2 .stars {
    color: #f7ae0b;
    margin-left: 35px;
}

.review .division2 .review-card2 .star {
    margin: 0 3px;
}

.review .review-card2 .bottom {
    display: flex;
    margin-left: 35px;
}

.review .review-card2 .bottom img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-top: 10px;
}

.review .review-card:hover,
.review .review-card1:hover,
.review .review-card2:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}



/* Review section  end*/

/* Footer section  start*/
.footer {
    background-color: #213757;
    padding: 60px 150px 70px;
}

.footer .browsing p {
    font-size: 40px;
    color: #ffffff;
}

.footer .top {
    display: flex;
}

.footer .top .button2 a {
    box-shadow: rgba(0, 0, 0, .12);
    border-radius: 5px;
    background-color: #0AB3E4;
    color: white;
    font-size: 18px;
    font-weight: 300;
    padding: 15px;
    text-decoration: none;
}

.footer .button2 a:hover {
    transform: scale(1.02);
    color: #0AB3E4;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.footer .top .button1 a {
    box-shadow: rgba(0, 0, 0, .12);
    border-radius: 5px;
    background-color: white;
    color: #0AB3E4;
    font-size: 18px;
    font-weight: 300;
    padding: 15px;
    text-decoration: none;
}

.footer .button1 a:hover {
    transform: scale(1.02);
    color: white;
    background-color: #0AB3E4;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.footer .top .button1 {
    margin-top: 80px;

}

.footer .top .button2 {
    margin-top: 80px;
    margin-left: 20px;
}

.footer .top .btn {
    display: flex;
    margin-left: 295px;
}

.footer .line,
.items .line {
    border-color: #f6f6f82b;
}

.footer .mid {
    display: flex;
    color: white;
    margin-top: 50px;
}

.footer .info {
    width: 250px;

}

.footer .info .text {
    margin-top: -20px;
}

.footer .info .visa,
.footer .info .paypal {
    margin-left: 10px;
}

.footer ul {
    list-style: none;
    line-height: 2;

}

.footer a:hover {
    transform: scale(1.02);
    color: #F7A70E;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.footer a {
    text-decoration: none;
    color: #9EA5B2;
}

.footer .mid .company,
.footer .mid .connect,
.footer .mid .experts,
.footer .mid .card {
    margin-left: 50px;
}

.footer .payment-method {
    display: flex;
}

.footer .mid .card {
    width: 250px;
    padding: 20px;
    float: inline-end;
}

.footer .mid .card p {
    color: #9EA5B2;
}

.footer .mid .card .stars {
    color: #f7ae0b;

}

.footer .mid .card .star {
    margin: 0 3px;
}

.footer .copyright {
    display: flex;
    margin-top: 60px;
    color: #9EA5B2;
}

.footer .copyright .text {
    margin-top: 10px;
}

.footer .privacy ul {
    display: flex;
    margin-left: 600px;
}

.footer .privacy li {
    margin-left: 40px;
}



/* Footer section  end*/